.impactMap {
  position: relative;
  height: 100%;
}

.mapContainer {
  height: 80%
}

.searchBoxContainer {
  float: left;
  position: absolute;
  top: 10px;
  left: 10px;
  opacity: 0.8;
  padding: 2px 14px;
}

.brush {
  width: 100%;
}

.leftArrow {
  display: block;
  position: absolute;
  top: 50%;
}

.rightArrow {
  display: block;
  position: absolute;
  top: 50%;
}

.chart {
  width: 100%;
  heigh: 100px;
  overflow: hidden;
}
